<%= form_for(@grade) do |f| %>
 <%= h_form_errors(@grade) %>


  <div class="field">
    <%= f.label t(:label_grade_student) %>
    <%= f.collection_select(:grade_student_id, Student.get_all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label t(:label_grade_grade_context) %>
    <%= f.collection_select(:grade_grade_context_id, GradeContext.get_all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label t(:label_grade_matter) %>
    <%= f.collection_select(:grade_matter_id, Matter.get_all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label t(:label_grade_date) %>
    <%= f.date_select :grade_date %>
  </div>
  <div class="field">
    <%= f.label t(:label_grade_value) %>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label t(:label_grade_description) %>
    <%= f.text_area :description %>
  </div>
 
<%= h_form_bottom(f) %>
<% end %>
