<p id="notice"><%= notice %></p>

<h1>Listing Grades</h1>

<%= datagrid_form_for @grid, :method => :get, :url => grades_path %>

<%= will_paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= will_paginate(@grid.assets) %>


<div class="datagrid-actions">
<%= link_to 'New Grade', new_grade_path %>
</div>