<%= h_show_notice%>

<%= h_show_topiddescription(@grade)%>

<p>
  <%= h_show_label(:label_grade_grade_context)%>
  <%= @grade.grade_grade_context_id %>
</p>

<p>
  <%= h_show_label(:label_grade_matter)%>
  <%= @grade.grade_matter.ident %>
</p>

<p>
  <%= h_show_label(:label_grade_student)%>
  <%= @grade.grade_student.ident %>
</p>

<p>
  <%= h_show_label(:label_grade_date)%>
  <%= @grade.grade_date %>
</p>

<p>
  <%= h_show_label(:label_grade_value)%>
  <%= @grade.value %>
</p>

<%= h_show_bottom(@grade)%>
<%= h_show_menus_bottom(@grade)%>

