<p id="notice"><%= notice %></p>

<p>
  <strong>Grade grade context:</strong>
  <%= @grade.grade_grade_context_id %>
</p>

<p>
  <strong>Grade matter:</strong>
  <%= @grade.grade_matter_id %>
</p>

<p>
  <strong>Grade student:</strong>
  <%= @grade.grade_student_id %>
</p>

<p>
  <strong>Grade date:</strong>
  <%= @grade.grade_date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @grade.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grade.description %>
</p>

<p>
  <strong>Custo:</strong>
  <%= @grade.custo %>
</p>
<div class="datagrid-actions">
<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
</div>
