<%= h_show_notice%>
<h1>t(:title_show_grade)</h1>
<%= h_show_topiddescription(@grade)%>

<p>
	<%= h_show_label(:label_grade_grade_context)%>
	<%= h_table_grade_context([@grade.grade_grade_context]) %>
</p>

<p>
	<%= h_show_label(:label_grade_matter)%>
	<%= h_table_matter([@grade.grade_matter])%>
</p>

<p>
	<%= h_show_label(:label_grade_student) %>
	<%= h_table_student([@grade.grade_student]) %>
</p>

<p>
	<%= h_show_label(:label_grade_date)%>
	<%= @grade.grade_date %>
</p>

<p>
	<%= h_show_label(:label_grade_value)%>
	<%= @grade.value %>
</p>

<%= h_show_bottom(@grade)%>
<%= h_show_menus_bottom(@grade)%>

