<%= form_for(@present) do |f| %>
<%= h_form_errors(@present) %>

<div class="field">
	<%= f.label :student %>
	<%= f.collection_select(:student_id, Student.get_all, :id, :name) %>
</div>
<div class="field">
	<%= f.label :schedule %>
	<%= f.collection_select(:schedule_id, Schedule.get_all, :id, :ident) %>
</div>
<div class="field">
	<%= f.label :teaching %>
	<%= f.collection_select(:teaching_id, Teaching.get_all, :id, :name) %>
</div>
<div class="field">
	<%= f.label :present_type %>
	<%= f.select(:present_type, SYLR::V_ALL_PRESENT_TYPES.map {|r| [r.humanize, r]}) %>
</div>
<%= h_form_description(f) %>

<%= h_form_bottom(f) %>
<% end %>