<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @present.student.name %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @present.schedule.ident %>
</p>

<p>
  <strong>Teaching:</strong>
  <%= @present.teaching.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @present.present_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @present.description %>
</p>

<p>
  <strong>Custo:</strong>
  <%= @present.custo %>
</p>
<div class="datagrid-actions">
<%= link_to 'Edit', edit_present_path(@present) %> |
<%= link_to 'Back', presents_path %>
</div>
