<%= h_show_notice%>
<h1><%=t(:title_show_present)%></h1>
<%= h_show_topiddescription(@present)%>

<p>
  <%= h_show_label(:label_student)%>
  <%= @present.student.ident %>
</p>

<p>
  <%= h_show_label(:label_schedule)%>
  <%= @present.schedule.ident unless @present.schedule.nil?%>
</p>

<p>
  <%= h_show_label(:label_teaching)%>
  <%= @present.teaching.ident unless @present.teaching.nil?%>
</p>

<p>
  <%= h_show_label(:label_present_type)%>
  <%= @present.present_type %>
</p>


<%= h_show_bottom(@present)%>
<%= h_show_menus_bottom(@present)%>

