<p id="notice"><%= notice %></p>

<h1><%=t(:title_index_notebook)%></h1>

<%= datagrid_form_for @grid, :method => :get, :url => notebooks_path %>


<%= will_paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= will_paginate(@grid.assets) %>

<div class="datagrid-actions">
<%= link_to t(:title_new_notebook), new_notebook_path %>
</div>
