<%= h_show_notice%>
<h1><%=t(:title_show_notebook)%></h1>
<%= h_show_top(@notebook)%>



<p>
  <%= h_show_label(:label_student)%>
  <%= @notebook.student.ident unless @notebook.student.nil? %>
  <%= h_table_student([@notebook.student])%>
</p>
<p>
  <%= h_show_label(:label_notebook_teachers)%>
  <%= h_table_teacher(@notebook.get_teachers)%>
</p>
<p>
  <%= h_show_label(:label_notebook_text)%>
  <%= @notebook.notebooktext.html_safe %>
</p>

<%= h_show_bottom(@notebook)%>
<%= h_show_menus_bottom(@notebook)%>