<%= h_show_notice%>

<%= h_show_top(@notebook)%>

<p>
  <%= h_show_label(:label_notebook_text)%>
  <%= @notebook.notebooktext %>
</p>

<p>
  <%= h_show_label(:label_student)%>
  <%= @notebook.student.ident unless @notebook.student.nil? %>
</p>


<%= h_show_bottom(@notebook)%>
<%= h_show_menus_bottom(@notebook)%>