<%= form_for(@element) do |f| %>
<%= h_form_errors(@element) %>

<%= h_form_name(f) %>

<div class="field">
	<%= f.label :label_for_what %>
	<%= f.select :for_what,Element.for_whats %>
</div>

<%= h_form_description(f) %>

<%= h_form_bottom(f) %>
<% end %>
