<%= h_show_notice%>

<%= h_show_top(@element)%>

<p>
  <%= h_show_label("label_for_what")%>
  <%= @element.for_what %>
</p>

<p>
  <%= h_show_label("label_description")%>
  <%= @element.description %>
</p>


<%= h_show_bottom(@element)%>
<%= h_show_menus_bottom(@element)%>

