<%= h_show_notice%>
<h1><%=t(:title_show_element)%></h1>
<%= h_show_top(@element)%>

<p>
	<%= h_show_label(:label_for_what)%>
	<%= @element.for_what %>
</p>

<p>
	<%= h_show_label(:label_element_responsibles)%>
	<%= h_table_responsible(@element.responsibles)%>
</p>

<p>
	<%= h_show_label(:label_element_locations)%>
	<%= h_table_location(@element.locations)%>
</p>

<p>
	<%= h_show_label(:label_element_matters)%>
	<%= h_table_matter(@element.matters)%>
</p>

<%= h_show_bottom(@element)%>
<%= h_show_menus_bottom(@element)%>

