<%= h_show_notice%>

<%= h_show_top(@element)%>

<p>
	<%= h_show_label("label_for_what")%>
	<%= @element.for_what %>
</p>

<p>
	<%= h_show_label(:label_element_responsibles)%>
	<%= h_table(@element.responsibles,[:name,:id,:email,:responsible_type_ident,:person_status])%>
</p>
</p>

<p>
	<%= h_show_label(:label_element_locations)%>
	<%= h_table(@element.locations,[:name,:id,"usage_ident",:location_nb_max_person])%>
</p>

<p>
	<%= h_show_label(:label_element_matters)%>
	<%= h_table(@element.matters,[:name,:id,:matter_type_ident,:matter_duration,:matter_nb_max_student])%>
</p>

<%= h_show_bottom(@element)%>
<%= h_show_menus_bottom(@element)%>

