<%= form_for(@student) do |f| %>
<%= h_form_errors(@student) %>

<%= render :partial=>"shared/form_person",
:locals=>{:f=>f,
:object=> @student,
:status=>Responsible.all_person_status} %>

<div class="field">
	<%= f.label t("label_student_class_school") %>
	<%= f.collection_select(:student_class_school_id, ClassSchool.get_all, :id, :name) %>
</div>

<div class="field">
	<%= f.label t("label_student_responsibles") %>
	<%= select_inout(f, @student, Responsible.get_all, :ident_long) %>
</div>
<%= h_form_bottom(f) %>
<% end %>
