<p id="notice">
    <%= notice %>
</p>

<h1>Listing Students</h1>

<%= datagrid_form_for @grid, :method => :get, :url => students_path %>

<%= will_paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= will_paginate(@grid.assets) %>

<div class="datagrid-actions">
<%= link_to 'New Student', new_student_path %>
</div>