<%= h_show_notice%>

<%= h_show_top(@student)%>

<%= render :partial=>"shared/show_person",
:locals=>{:object=> @student} %>

<p>
	<%= h_show_label("label_student_class_school")%>
	<%= @student.student_class_school.ident unless @student.student_class_school.nil? %>
</p>

<p>
	<%= h_show_label("label_student_teachers")%>
	<%= h_comma_links @student.get_teachers , :ident%>
</p>
<p>
	<%= h_show_label("label_student_locations")%>
	<%= h_comma_links @student.get_locations , :ident%>
</p>
<p>
	<%= h_show_label("label_student_responsibles")%>
	<%= h_comma_links @student.responsibles , :ident%>
</p>
<p>
	<%= h_show_label(:label_student_presents)%>
	<%= h_comma_links @student.presents,:ident %>
</p>
<p>
	<%= h_show_label(:label_student_grades)%>
	<%= h_comma_links @student.grades,:ident %>
</p>
<p>
	<%= h_show_label(:label_student_notebooks)%>
	<%= @student.notebook.ident unless @student.notebook.nil? %>
</p>

<%= h_show_bottom(@student)%>
<%= h_show_menus_bottom(@student)%>

<% unless @schedules.nil? %>
<%= month_calendar  events: @schedules do |date, schedules| %>
<%= date.day %>
<% schedules.each do |schedule| %>
<div>
	<%= link_to schedule.ident, schedule %>
</div>
<% end %>
<% end %>
<% else %>
<%= month_calendar  do |date| %>
<%= date.day %>
<% end %>
<% end %>
