<%= h_show_notice%>
<h1><%=t(:title_show_student)%></h1>
<%= h_show_top(@student)%>

<%= render :partial=>"shared/show_person",
:locals=>{:object=> @student} %>

<p>
	<%= h_show_label("label_student_class_school")%>
	<%= h_table_class_school([@student.student_class_school]) %>
</p>

<p>
	<%= h_show_label("label_student_teachers")%>
	<%= h_table_teacher(@student.get_teachers)%>
</p>
<p>
	<%= h_show_label("label_student_locations")%>
	<%= h_table_location(@student.get_locations)%>
</p>
<p>
	<%= h_show_label("label_student_responsibles")%>
	<%= h_table_responsible(@student.responsibles)%>
</p>
<p>
	<%= h_show_label(:label_student_presents)%>
	<%= h_table_present(@student.presents)%>
</p>
<p>
	<%= h_show_label(:label_student_grades)%>
	<%= h_table_grade(@student.grades)%>
</p>
<p>
	<%= h_show_label(:label_student_notebooks)%>
	<%= h_table_notebook([@student.notebook]) unless @student.notebook.nil?%>
</p>
<p>
	<%= h_show_label(:label_student_teachings)%>
	<%=h_table_teaching(@student.get_teachings) %>
</p>

<%= h_show_bottom(@student)%>
<%= h_show_menus_bottom(@student)%>

<% unless @schedules.nil? %>
<%= month_calendar  events: @schedules do |date, schedules| %>
<%= date.day %>
<% schedules.each do |schedule| %>
<div>
	<% if schedule.schedule_type==SYLR::C_SCHEDULE_WORKING%>
	<%= link_to schedule.ident, schedule %>
	<% else %>
	<%= schedule.ident%>
	<% end %>
</div>
<% end %>
<% end %>
<% else %>
<%= month_calendar  do |date| %>
<%= date.day %>
<% end %>
<% end %>
