<%= h_show_notice%>

<%= h_show_top(@student)%>

<%= render :partial=>"shared/show_person",
:locals=>{:object=> @student} %>

<p>
	<%= h_show_label("label_student_class_school")%>
	<%= @student.student_class_school.ident unless @student.student_class_school.nil? %>
</p>

<p>
	<%= h_show_label("label_student_teachers")%>
	<%= @student.teachers %>
</p>

<%= h_show_bottom(@student)%>
<%= h_show_menus_bottom(@student)%>

