<%= h_show_notice%>

<%= h_show_top(@student)%>

<%= render :partial=>"shared/show_person",
:locals=>{:object=> @student} %>

<p>
	<%= h_show_label("label_student_class_school")%>
	<%= @student.student_class_school.ident unless @student.student_class_school.nil? %>
</p>

<p>
	<%= h_show_label("label_student_teachers")%>
	<%= h_comma_links @student.teachers , :ident%>
</p>

<p>
	<%= h_show_label(:label_student_presents)%>
	<%= h_comma_links @student.presents,:ident %>
</p>
<p>
	<%= h_show_label(:label_student_grades)%>
	<%= h_comma_links @student.grades,:ident %>
</p>
<p>
	<%= h_show_label(:label_student_notebooks)%>
	<%= h_comma_links @student.notebooks,:ident %>
</p>

<%= h_show_bottom(@student)%>
<%= h_show_menus_bottom(@student)%>

