<%= h_show_notice%>

<%= h_show_top(@student)%>

<%= render :partial=>"shared/show_person",
:locals=>{:object=> @student} %>

<p>
	<%= h_show_label("label_student_class_school")%>
	<%= @student.student_class_school.ident unless @student.student_class_school.nil? %>
</p>

<p>
	<%= h_show_label("label_student_teachers")%>
	<%= h_table(@student.get_teachers,[:name,:id,:email,:person_status])%>
</p>
<p>
	<%= h_show_label("label_student_locations")%>
	<%= h_table(@student.get_locations,[:name,:id,:usage_ident,:location_nb_max_person])%>
</p>
<p>
	<%= h_show_label("label_student_responsibles")%>
	<%= h_table(@student.responsibles,[:name,:id,:email,:responsible_type_ident,:firstname,:lastname,:person_status])%>
</p>
<p>
	<%= h_show_label(:label_student_presents)%>
	<%= h_table(@student.presents,[:present_type,:student_ident])%>
</p>
<p>
	<%= h_show_label(:label_student_grades)%>
	<%= h_table(@student.grades,[:grade_grade_context_ident,:value])%>
</p>
<p>
	<%= h_show_label(:label_student_notebook)%>
	<%= h_table([@student.notebook],[:name,:notebooktext_short,:custo]) unless @student.notebook.nil?%>
</p>
</p>

<%= h_show_bottom(@student)%>
<%= h_show_menus_bottom(@student)%>

<% unless @schedules.nil? %>
<%= month_calendar  events: @schedules do |date, schedules| %>
<%= date.day %>
<% schedules.each do |schedule| %>
<div>
	<%= link_to schedule.ident, schedule %>
</div>
<% end %>
<% end %>
<% else %>
<%= month_calendar  do |date| %>
<%= date.day %>
<% end %>
<% end %>
