<%= form_for(@class_school) do |f| %>
<% if @class_school.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@class_school.errors.count, "error") %> prohibited this class_school from being saved:</h2>

	<ul>
		<% @class_school.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= h_form_label(f,:label_name)%>

	<%= f.text_field :name %>
</div>
<div class="field">
	<%= h_form_label(f,:label_name)%>

	<%= f.number_field :nb_max_student %>
</div>
<div class="field">
	<%= h_form_label(f,:label_name)%>

	<%= f.collection_select(:default_location_id, Location.get_all, :id, :name) %>
</div>
<div class="field">
	<%= h_form_label(f,:label_description)%>

	<%= f.text_area :description %>
</div>

<%= h_form_bottom(f) %>
<% end %>
