<%= form_for(@class_school) do |f| %>
<%= h_form_errors(@class_school) %>

<%= h_form_name(f) %>
<div class="field">
	<%= h_form_label(f,:label_nb_max_student)%>
	<%= f.number_field :nb_max_student %>
</div>

<%= h_form_description(f) %>

<%= h_form_bottom(f) %>
<% end %>
