<h1><%=t(:title_index_class_school)%></h1>
<%= datagrid_form_for @grid, :method => :get, :url => class_schools_path %>

<%= will_paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= will_paginate(@grid.assets) %>

<div class="datagrid-actions">
<%= link_to t(:title_new_class_school), new_class_school_path %>
</div>
