<%= h_show_notice%>

<%= h_show_top(@class_school)%>


<p>
	<%= h_show_label(:label_nb_max_student)%>
	<%= @class_school.nb_max_student %>
</p>

<p>
	<%= h_show_label(:label_default_location)%>
	<%= @class_school.default_location.ident %>
</p>

<p>
	<%= h_show_label(:label_class_school_students)%>
	<%= h_comma_links @class_school.students,:ident %>
</p>

<p>
	<%= h_show_label(:label_class_school_teachings)%>
	<%= h_comma_links @class_school.teachings,:ident %>
</p>
<%= h_show_bottom(@class_school)%>
<%= h_show_menus_bottom(@class_school)%>