<%= h_show_notice%>

<%= h_show_top(@class_school)%>


<p>
	<%= h_show_label(:label_nb_max_student)%>
	<%= @class_school.nb_max_student %>
</p>

<p>
	<%= h_show_label(:label_class_school_students)%>
	<%= h_table(@class_school.students,[:name,:id,:email,:firstname,:lastname,:student_class_school__lnk])%>
</p>

<p>
	<%= h_show_label(:label_class_school_teachings)%>
	<%= h_table(@class_school.teachings,[:name,:id,:teaching_class_school__lnk,:teaching_teacher__lnk,
		:teaching_matter__lnk,:teaching_domain_ident,:teaching_location__lnk,:teaching_start_time,:teaching_repetition,
		:teaching_repetition_number])%>
</p>
<%= h_show_bottom(@class_school)%>
<%= h_show_menus_bottom(@class_school)%>