<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>Name:</strong>
	<%= @class_school.name %>
</p>

<p>
	<strong>Nb max student:</strong>
	<%= @class_school.nb_max_student %>
</p>

<p>
	<strong>Default location:</strong>
	<%= @class_school.default_location.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @class_school.description %>
</p>

<p>
	<strong>Custo:</strong>
	<%= @class_school.custo %>
</p>


<%= link_to 'Edit', edit_class_school_path(@class_school) %> |
<%= link_to 'Back', class_schools_path %>
