<%= h_show_notice%>
<h1><%=t(:title_show_class_school)%></h1>
<%= h_show_top(@class_school)%>


<p>
	<%= h_show_label(:label_nb_max_student)%>
	<%= @class_school.nb_max_student %>
</p>

<p>
	<%= h_show_label(:label_class_school_students)%>
	<%= h_table_student(@class_school.students)%>
</p>

<p>
	<%= h_show_label(:label_class_school_teachers)%>
	<%= h_table_teacher(@class_school.get_teachers)%>
</p>

<p>
	<%= h_show_label(:label_class_school_teachings)%>
	<%= h_table_teaching(@class_school.teachings)%>
</p>
<%= h_show_bottom(@class_school)%>
<%= h_show_menus_bottom(@class_school)%>