<%= h_show_notice%>

<%= h_show_top(@class_school)%>


<p>
	<%= h_show_label(:label_nb_max_student)%>
	<%= @class_school.nb_max_student %>
</p>

<p>
	<%= h_show_label(:label_default_location)%>
	<%= @class_school.default_location.ident %>
</p>

<%= h_show_bottom(@class_school)%>
<%= h_show_menus_bottom(@class_school)%>