<%= form_for(@matter_duration) do |f| %>
<%= h_form_errors(@matter_duration) %>

<%= h_form_name(f) %>
  <div class="field">
    <%= f.label :label_matter_duration_level %>
    <%= f.collection_select(:matter_duration_level_id, MatterDuration.matter_durations_levels, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :label_matter_duration_value %>
    <%= f.number_field :value %>
  </div>
<%= h_form_description(f) %>

<%= h_form_bottom(f) %>
<% end %>
