<%= h_show_notice%>

<%= h_show_topid(@matter_duration)%>

<p>
  <%= h_show_label(:label_matter_duration_level)%>
  <%= @matter_duration.matter_duration_level.ident %>
</p>

<p>
  <%= h_show_label(:label_matter_duration_value)%>
  <%= @matter_duration.value %>
</p>

<%= h_show_bottom(@matter_duration)%>
<%= h_show_menus_bottom(@matter_duration)%>
