<p id="notice">
	<%= notice %>
</p>

<h1>Listing Matters</h1>

<%= datagrid_form_for @grid, :method => :get, :url => matters_path %>

<%= will_paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= will_paginate(@grid.assets) %>

<div class="datagrid-actions">
	<%= link_to 'New Matter', new_matter_path %>
</div>
