<%= h_show_notice%>

<%= h_show_top(@matter)%>

<p>
	<%= h_show_label(:label_matter_type)%>
	<%= @matter.matter_type.ident %>
</p>

<p>
	<%= h_show_label(:label_matter_duration)%>
	<%= @matter.matter_duration %>
</p>

<p>
	<%= h_show_label(:label_matter_nb_max_student)%>
	<%= @matter.matter_nb_max_student %>
</p>

<p>
	<%= h_show_label(:label_matter_grades)%>
	<%= h_table(@matter.grades,[:ident,:id,:grade_grade_context_ident,:grade_matter_ident,
		:grade_student_ident,:grade_date,:value])%>
</p>
<p>
	<%= h_show_label(:label_matter_teachers)%>
	<%= h_table(@matter.teachers,[:name,:id,:email,:person_status])%>
</p>

<%= h_show_bottom(@matter)%>
<%= h_show_menus_bottom(@matter)%>
