<%= form_for(@schedule) do |f| %>
<%= h_form_errors(@schedule) %>

<div class="field">
	<%= f.label t(:label_schedule_type) %>
	<%= f.select(:schedule_type, SYLR::C_ALL_SCHEDULE_TYPES.map {|r| [r.humanize, r]}) %>
</div>
<div class="field">
	<%= f.label t(:label_start_time) %>
	<%= f.datetime_select :start_time,:start_year=>Date.today.year-1,:end_year=>Date.today.year+1 %>
</div>
<div class="field">
	<%= f.label t(:label_schedule_repetition_number) %>
	<%= f.number_field :nb_repetition%>
</div>


<% if true %>
<input type="hidden" id="schedule_schedule_father_id" name="schedule[schedule_father_id]" value="#{SYLR::C_INDIC_SCHEDULE_FATHER}" />
<input type="hidden" id="schedule_schedule_teaching_id" name="schedule[schedule_teaching_id]" value="#{SYLR::C_INDIC_DAY_SCHEDULE}" />
<% else %>
<div class="field">
	<%= f.label :label_schedule_schedule_father %>
	<%= f.collection_select(:schedule_father_id, Schedule.get_all, :id, :ident_long) %>
</div>
<div class="field">
	<%= f.label :label_schedule_schedule_teaching %>
	<%= f.collection_select(:schedule_teaching_id, Teaching.get_all, :id, :name) %>
</div>
<% end %>

<%= h_form_bottom(f) %>
<% end %>
