<%= h_show_notice%>
<h1><%=t(:title_show_schedule)%></h1>

<p>
	<strong>Type:</strong>
	<%= @schedule.schedule_type %>
</p>

<p>
	<strong>Start time:</strong>
	<%= @schedule.start_time %>
</p>

<p>
	<strong>Schedule Father:</strong>
	<%= h_table_schedule([@schedule.schedule_father]) unless @schedule.schedule_father.nil?%>
<p>
	<strong>Teaching:</strong>
	<%=h_table_teaching([@schedule.schedule_teaching]) unless @schedule.schedule_teaching.nil?%>
</p>

<p>
	<%= h_show_label(:label_schedule_presents)%>
	<%= h_table_present(@schedule.presents)%>
</p>

<p>
	<%= h_show_label(:label_schedule_schedules)%>
	<%= h_table_schedule(@schedule.schedules)%>
</p>

<%= h_show_bottom(@schedule)%>
<%= h_show_menus_bottom(@schedule)%>

