<%= form_for(@responsible) do |f| %>
<%= h_form_errors(@responsible) %>


<div class="field">
	<%= f.label :type_id %>
	<%= f.collection_select(:type_id, Responsible.responsible_types, :id, :name) %>
</div>

<%= render :partial=>"shared/form_person", 
:locals=>{:f=>f, 
	:object=> @responsible,
	:status=>Responsible.all_person_status} %>
	
<div class="field">
	<%= f.label t("label_responsible_students") %>
	<%= select_inout(f, @responsible, Student.get_all, :name) %>
</div>

<%= h_form_bottom(f) %>
<% end %>
