<%= h_show_notice%>
<h1><%=t(:title_show_responsible)%></h1>
<%= h_show_top(@responsible)%>

<%= render :partial=>"shared/show_person",
:locals=>{:object=> @responsible} %>

<p>
	<%= h_show_label("label_responsible_type")%>
	<%= h_table_responsable_type([@responsible.type]) %>
</p>

<p>
	<%= h_show_label("label_responsible_students")%>
	<%= h_table_student(@responsible.students)%>
</p>

<%= h_show_bottom(@responsible)%>
<%= h_show_menus_bottom(@responsible)%>

