<%= h_show_notice%>

<%= render :partial=>"shared/show_person",
:locals=>{:object=> @responsible} %>

<p>
	<%= h_show_label("label_responsible_type")%>
	<%= @responsible.type.ident %>
</p>

<%= h_show_bottom(@responsible)%>
<%= h_show_menus_bottom(@responsible)%>

