<%= h_show_notice%>

<%= h_show_top(@responsible)%>

<%= render :partial=>"shared/show_person",
:locals=>{:object=> @responsible} %>

<p>
	<%= h_show_label("label_responsible_type")%>
	<%= @responsible.type.ident %>
</p>

<p>
	<%= h_show_label("label_responsible_students")%>
	<%= h_table(@responsible.students,[:name,:id,:email,:firstname,:lastname,:student_class_school__lnk,:person_status])%>
</p>

<%= h_show_bottom(@responsible)%>
<%= h_show_menus_bottom(@responsible)%>

