<%= form_for(@notebook_teacher) do |f| %>
  <% if @notebook_teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notebook_teacher.errors.count, "error") %> prohibited this notebook_teacher from being saved:</h2>

      <ul>
      <% @notebook_teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notebook_id %>
    <%= f.collection_select(:notebook_id, Notebook.all.to_a, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %>
    <%= f.collection_select(:teacher_id, Teacher.all.to_a, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :custo %>
    <%= f.text_field :custo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
