<p id="notice"><%= notice %></p>

<h1>Listing Notebook Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Notebook</th>
      <th>Teacher</th>
      <th>Custo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notebook_teachers.each do |notebook_teacher| %>
      <tr>
        <td><%= notebook_teacher.notebook_id %></td>
        <td><%= notebook_teacher.teacher_id %></td>
        <td><%= notebook_teacher.custo %></td>
        <td><%= link_to 'Show', notebook_teacher %></td>
        <td><%= link_to 'Edit', edit_notebook_teacher_path(notebook_teacher) %></td>
        <td><%= link_to 'Destroy', notebook_teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notebook teacher', new_notebook_teacher_path %>
