<%= h_show_notice%>

<%= h_show_top(@teacher)%>

<%= render :partial=>"shared/show_person",
:locals=>{:object=> @teacher} %>
<p>
	<%= h_show_label(:label_teacher_matters)%>
	<%= h_table(@teacher.matters,[:name,:id,:matter_type_ident,:matter_duration,:matter_nb_max_student])%>
</p>
<p>
	<%= h_show_label(:label_teacher_teachings)%>
	<%= h_table(@teacher.teachings,[:name,:id,:teaching_class_school_ident,:teaching_teacher_ident,
		:teaching_matter_ident,:teaching_domain_ident,:teaching_location_ident,:teaching_start_time,:teaching_repetition,
		:teaching_repetition_number])%>
</p>

<%= h_show_bottom(@teacher)%>
<%= h_show_menus_bottom(@teacher)%>

<% unless @schedules.nil? %>
<%= month_calendar  events: @schedules do |date, schedules| %>
<%= date.day %>
<% schedules.each do |schedule| %>
<div>
	<%= link_to schedule.ident, schedule %>
</div>
<% end %>
<% end %>
<% else %>
<%= month_calendar  do |date| %>
<%= date.day %>
<% end %>
<% end %>