<%= h_show_notice%>

<%= h_show_top(@teacher)%>

<%= render :partial=>"shared/show_person",
:locals=>{:object=> @teacher} %>
<p>
	<%= h_show_label(:label_teacher_matters)%>
	<%= h_table(@teacher.matters,[:name,:id,:matter_type__lnk,:matter_duration,:matter_nb_max_student,:custo])%>
</p>
<p>
	<%= h_show_label(:label_teacher_teachings)%>
	<%= h_table(@teacher.teachings,[:name,:id,:teaching_class_school__lnk,:teaching_teacher__lnk,
		:teaching_matter__lnk,:teaching_domain_ident,:teaching_location__lnk,:teaching_start_time,:teaching_repetition,
		:teaching_repetition_number,:custo])%>
</p>
<p>
	<%= h_show_label(:label_teacher_class_schools)%>
	<%= h_table(@teacher.get_class_schools,[:name,:id,:nb_max_student,:custo])%>
</p>
<p>
	<%= h_show_label(:label_teacher_students)%>
	<%= h_table(@teacher.get_students,[:name,:id,:email,:firstname,:lastname,:student_class_school__lnk,:custo])%>
</p>

<%= h_show_bottom(@teacher)%>
<%= h_show_menus_bottom(@teacher)%>

<% unless @schedules.nil? %>
<%= month_calendar  events: @schedules do |date, schedules| %>
<%= date.day %>
<% schedules.each do |schedule| %>
<div>
	<%= link_to schedule.ident, schedule %>
</div>
<% end %>
<% end %>
<% else %>
<%= month_calendar  do |date| %>
<%= date.day %>
<% end %>
<% end %>