<%= h_show_notice%>
<h1><%=t(:title_show_teacher)%></h1>
<%= h_show_top(@teacher)%>

<%= render :partial=>"shared/show_person",
:locals=>{:object=> @teacher} %>
<p>
	<%= h_show_label(:label_teacher_matters)%>
	<%= h_table_matter(@teacher.matters)%>
</p>
<p>
	<%= h_show_label(:label_teacher_teachings)%>
	<%= h_table_teaching(@teacher.teachings)%>
</p>
<p>
	<%= h_show_label(:label_teacher_class_schools)%>
	<%= h_table_class_school(@teacher.get_class_schools)%>
</p>
<p>
	<%= h_show_label(:label_teacher_students)%>
	<%= h_table_student(@teacher.get_students)%>
</p>

<%= h_show_bottom(@teacher)%>
<%= h_show_menus_bottom(@teacher)%>

<% unless @schedules.nil? %>
<%= month_calendar  events: @schedules do |date, schedules| %>
<%= date.day %>
<% schedules.each do |schedule| %>
<div>
	<% if schedule.schedule_type==SYLR::C_SCHEDULE_WORKING%>
	<%= link_to schedule.ident, schedule %>
	<% else %>
	<%= schedule.ident%>
	<% end %>
</div>
<% end %>
<% end %>
<% else %>
<%= month_calendar  do |date| %>
<%= date.day %>
<% end %>
<% end %>