<%= h_show_notice%>
<h1><%=t(:title_show_teaching)%></h1>
<%= h_show_top(@teaching)%>

<p>
	<%= h_show_label(:label_teaching_class_school)%>
	<%= h_table_class_school([@teaching.teaching_class_school])%>
</p>

<p>
	<%= h_show_label(:label_teaching_teacher)%>
	<%= h_table_teacher([@teaching.teaching_teacher]) %>
</p>

<p>
	<%= h_show_label(:label_teaching_matter)%>
	<%= h_table_matter([@teaching.teaching_matter]) %>
</p>

<p>
	<%= h_show_label(:label_teaching_start_time)%>
	<%= Teaching.datetime_short(@teaching.teaching_start_time) %>
</p>
<p>
	<%= h_show_label(:label_teaching_duration)%>
	<%= @teaching.teaching_matter.matter_duration %>
</p>
<p>

	<%= h_show_label(:label_teaching_repetition)%>
	<%= @teaching.teaching_repetition %>
</p>
<p>
	<%= h_show_label(:label_teaching_repetition_number)%>
	<%= @teaching.teaching_repetition_number %>
</p>

<p>
	<%= h_show_label(:label_teaching_presents)%>
	<%= h_table_present(@teaching.presents)%>

<p>
	<%= h_show_label(:label_teaching_schedules)%>
	<%= h_table_schedule(@teaching.get_schedules)%>

</p>

<%= h_show_bottom(@teaching)%>
<%= h_show_menus_bottom(@teaching)%>

<% unless @schedules.nil? %>
<%= month_calendar  events: @schedules do |date, schedules| %>
<%= date.day %>
<% schedules.each do |schedule| %>
<div>
	<% if schedule.schedule_type==SYLR::C_SCHEDULE_WORKING%>
	<%= link_to schedule.ident, schedule %>
	<% else %>
	<%= schedule.ident%>
	<% end %>
</div>
<% end %>
<% end %>
<% else %>
<%= month_calendar  do |date| %>
<%= date.day %>
<% end %>
<% end %>

