<%= h_show_notice%>

<%= h_show_top(@teaching)%>

<p>
	<%= h_show_label(:label_teaching_class_school)%>
	<%= @teaching.teaching_class_school.name %>
</p>

<p>
	<%= h_show_label(:label_teaching_teacher)%>
	<%= @teaching.teaching_teacher.name %>
</p>

<p>
	<%= h_show_label(:label_teaching_matter)%>
	<%= @teaching.teaching_matter.name %>
</p>
<p>
	<%= h_show_label(:label_teaching_start_time)%>
	<%= @teaching.teaching_start_time %>
</p>
<p>
	<%= h_show_label(:label_teaching_duration)%>
	<%= @teaching.teaching_matter.matter_duration %>
</p>
<p>

	<%= h_show_label(:label_teaching_repetition)%>
	<%= @teaching.teaching_repetition %>
</p>
<p>
	<%= h_show_label(:label_teaching_repetition_number)%>
	<%= @teaching.teaching_repetition_number %>
</p>

<p>
	<%= h_show_label(:label_teaching_presents)%>
	<%= h_comma_links @teacher.presents,:ident %>
</p>

<p>
	<%= h_show_label(:label_teaching_schedules)%>
	<%= h_comma_links @teacher.schedules,:ident %>
</p>

<%= h_show_bottom(@teaching)%>
<%= h_show_menus_bottom(@teaching)%>

<% unless @schedules.nil? %>
<%= month_calendar  events: @schedules do |date, schedules| %>
<%= date.day %>
<% schedules.each do |schedule| %>
<div>
	<%= link_to schedule.ident, schedule %>
</div>
<% end %>
<% end %>
<% else %>
<%= month_calendar  do |date| %>
<%= date.day %>
<% end %>
<% end %>

