<%= form_for(@grade_context) do |f| %>
<%= h_form_errors(@grade_context) %>

<%= h_form_name(f) %>
<div class="field">
    <%= f.label :label_goal %>
    
    <%= f.text_field :goal %>
</div>
<div class="field">
    <%= f.label :label_min_value %>
    
    <%= f.text_field :min_value %>
</div>
<div class="field">
    <%= f.label :label_max_value %>
    
    <%= f.text_field :max_value %>
</div>
<%= h_form_description(f) %>

<%= h_form_bottom(f) %>
<% end %>

