<p id="notice"><%= notice %></p>
<h1><%=t(:title_index_grade_context)%></h1>


<%= datagrid_form_for @grid, :method => :get, :url => grade_contexts_path %>


<%= will_paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= will_paginate(@grid.assets) %>

<div class="datagrid-actions">
<%= link_to t(:title_new_grade_context), new_grade_context_path %>
</div>
