<%= h_show_notice%>

<%= h_show_topiddescription(@grade_context)%>

<p>
  <%= h_show_label(:label_goal)%>
  <%= @grade_context.goal %>
</p>

<p>
  <%= h_show_label(:label_min_value)%>
  <%= @grade_context.min_value %>
</p>

<p>
  <%= h_show_label(:label_max_value)%>
  <%= @grade_context.max_value %>
</p>


<%= h_show_bottom(@grade_context)%>
<%= h_show_menus_bottom(@grade_context)%>

