<%= form_for(@location) do |f| %>
<%= h_form_errors(@location) %>

<%= h_form_name(f) %>
<div class="field">
	<%= f.label t(:label_usage) %>
	<%= f.collection_select(:usage_id, Location.location_usages, :id, :name) %>
</div>
<div class="field">
	<%= h_form_label(f,:label_location_nb_max_person)%>
	<%= f.number_field :location_nb_max_person %>
</div>

<%= h_form_description(f) %>

<%= h_form_bottom(f) %>
<% end %>
