<%= h_show_notice%>
<h1><%=t(:title_show_location)%></h1>
<p>
	<%= h_show_label(:label_usage)%>
	<%= @location.usage.name %>
</p>
<p>
	<%= h_show_label(:location_nb_max_person)%>
	<%= @location.location_nb_max_person %>
</p>

<p>
	<%= h_show_label(:label_location_teachings)%>
	<%= h_table_teaching(@location.teachings)%>
</p>


<%= h_show_bottom(@location)%>
<%= h_show_menus_bottom(@location)%>

