<%= h_show_notice%>

<p>
	<%= h_show_label(:label_usage)%>
	<%= @location.usage.name %>
</p>
<p>
	<%= h_show_label(:location_nb_max_person)%>
	<%= @location.location_nb_max_person %>
</p>

<p>
	<%= h_show_label(:label_location_teachings)%>
	<%= h_table(@location.teachings,[:name,:id,:teaching_class_school_ident,:teaching_teacher_ident,
		:teaching_matter_ident,:teaching_domain_ident,:teaching_location_ident,:teaching_start_time,:teaching_repetition,
		:teaching_repetition_number])%>
</p>


<%= h_show_bottom(@location)%>
<%= h_show_menus_bottom(@location)%>

