<%= render(:partial => "layouts/menu_bar")%>
<div class="tab-content">
                           <div id="main" class="tab-pane active">
                            <% if flash[:error].present? %>
                                <p class="error">
                                <%= flash[:error] %>
                                    </p>
                            <% end %><% if flash[:warn].present? %>
                                <p class="warn">
                                <%= flash[:warn] %>
                                    </p>
                            <% end %><% if flash[:notice].present? %>
                                <p class="notice">
                                <%= flash[:notice] %>
                                    </p>
                            <% end %>
                            
                            <%= yield :layout %>
                                
                                </div>
                                <div class="navbar navbar-fixed-bottom">
                                <div class="navbar-inner">
                                <div class="container">
                                <%= flash[:notice] %>
                                                                </div><!-- /container -->
                        </div><!-- /navbar-inner -->
                    </div><!-- /navbar -->
<script type="text/javascript">
	$(function() {
		try {
			$('.dropdown-toggle').dropdown();
		} catch(err) {
			txt = "There was an error on this page.\n\n";
			txt += "Error description: " + err.message + "\n\n";
			txt += "Click OK to continue.\n\n";
			alert(txt);
			return true;
		}
	});
